body {
  background-color: $blue-light;
  color: $blue-4;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
 //   color: #666;
  }
  &:hover {
    color: #fff;
  //  background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: $green-4;
}

.field_with_errors {
  padding: 2px;
  background-color: $red-4;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid $red-4;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

//Custom

.btn-primary {
    background-color:$green-2;
    border-color:$green-4;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: $green-3;
    border-color:$green-4;
}

body { 
  padding-top: 70px; 
  font-size:12px;
}

a { 
  color: inherit; 
} 

.btn {
  margin-right:5px;
}

.form-group input {
  width :50%
}

.alert-info {
    background-color: $green-1;
    border-color: $green-4;
    color: $blue-light;
}

#user-status {
  font-weight: bold;
  text-align: right;
}

.logo {
  text-align: right;
}

.small {
  width: 64;
  height: 48;
}