// Place all the styles related to the tokens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border: 2px solid;
	border-radius: $radius;
}


$green-0: #3C763C; /* Main Primary color */
$green-1: #82B282;
$green-2: #589258;
$green-3: #236023;
$green-4: #104810;

$blue-0: #2D5858; /* Main Secondary color (1) */
$blue-1: #628686;
$blue-2: #426D6D;
$blue-3: #1A4848;
$blue-4: #0C3636;

$brown-0: #936C4B; /* Main Secondary color (2) */
$brown-1: #DFBEA3;
$brown-2: #B68E6D;
$brown-3: #784F2C;
$brown-4: #5A3414;

$red-0:#934B4B;  /* Main Complement color */
$red-1:#DFA3A3;
$red-2:#B66D6D;
$red-3:#782C2C;
$red-4:#5A1414;

.bold
{
	font-weight: bold;
}

.stealth-opn
{
	font-weight: bold;
	color: #337ab7;
}

.token-status-btn
{
	@include border-radius(10px); 
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
}

.token-status-free
{
	@extend .token-status-btn;
	background-color:$green-3;
	border-color:$green-4;
}

.token-status-archived
{
	@extend .token-status-btn;
	background-color:$blue-3;
	border-color:$blue-4;
}

.token-status-queued
{
	@extend .token-status-btn;
	background-color:$brown-3;
	border-color:$brown-4;
}

.token-status-active
{
	@extend .token-status-btn;
	background-color:$red-3;
	border-color:$red-4;
}
