// Place all the styles related to the tokens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

.table 
{

	td 	{
		padding:1px !important;
	}

	td>div 	{
		padding: 4px;
	}
}
/*
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td  {
	border-top:  1px solid $blue-3;
}*/


/*
.table > thead > tr > th {
    border-bottom: 2px solid $blue-3;
    vertical-align: bottom;
} */

.bold {
	font-weight: bold;
}

.stealth-opn {
	font-weight: bold;
	color: $blue-4;
}

.token-status-cell {
	@include border-radius(10px); 
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	border: solid 1px; 
}

.token-status-free {
	@extend .token-status-cell;
	background-color:$green-3;
	border-color:$green-4;
}

.token-status-archived {
	@extend .token-status-cell;
	background-color:$blue-3;
	border-color:$blue-4;
}

.token-status-queued {
	@extend .token-status-cell;
	background-color:$brown-3;
	border-color:$brown-4;
}

.token-status-active {
	@extend .token-status-cell;
	background-color:$red-3;
	border-color:$red-4;
}
