// Place all the styles related to the tokens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


.bold
{
	font-weight: bold;
}

.stealth-opn
{
	font-weight: bold;
	color: #337ab7;
}

.token-status-btn
{
	@include border-radius(10px); 
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
}

.token-status-free
{
	@extend .token-status-btn;
	background-color:#83ae75;
}

.token-status-archived
{
	@extend .token-status-btn;
	background-color:#868686;
}

.token-status-queued
{
	@extend .token-status-btn;
	background-color:#C37676;
}

.token-status-active
{
	@extend .token-status-btn;
	background-color:#A27220;
}
